.container {
    margin-top: 7%;
    margin-left: 20%;
}

td {
    padding: 3px 80px 2px 80px;
}

tbody {
    background: antiquewhite;
}

th {

    padding: 12px 20px 12px 20px;
    background: rgba(91, 130, 105, 0.82);
}

.main_search_div {
    position: relative;
}
.search_global {
    margin-top: -45px !important;
    position: absolute;
    margin-left: 55.5%;
    padding: 5px;
    background: #ffffff;
    border-radius: 5px;
}

.search_name{
    border-radius: 3px;
    margin-left: -45px;
    width: 111px;
    padding: 2px;
}
.search_address{
    border-radius: 3px;
    margin-left: -45px;
    width: 111px;
    padding: 2px;
}
.search_branch{
    border-radius: 3px;
    margin-left: -45px;
    width: 111px;
    padding: 2px;
}
.search_email{
    border-radius: 3px;
    margin-left: -45px;
    width: 110px;
    padding: 2px;
}
